<div class="ui inverted fixed stackable menu">
    <div class="header item">You Game</div>
    <a class="item" href="/">首页</a>
    {{/*<div class="ui dropdown item">*/}}
        {{/*Dropdown*/}}
        {{/*<i class="dropdown icon"></i>*/}}
        {{/*<div class="menu">*/}}
            {{/*<div class="item">登出</div>*/}}
        {{/*</div>*/}}
    {{/*</div>*/}}
    <div class="right menu">
        <div class="item">
            <div class="ui action left icon input">
                <i class="search icon"></i>
                <input type="text" placeholder="搜索" id="searchInput">
                <button class="ui button" onclick="window.location=`/search/${$('#searchInput').val()}`">搜索</button>
            </div>
        </div>
        {{if .isLogin}}
            <div class="ui dropdown item">
                <img class="ui medium circular image" src="{{ .Avatar }}" style="width: 32px;height: 32px">
                <span style="margin-left: 8px">{{ .Nickname }}</span>
                <i class="dropdown icon"></i>
                <div class="menu">
                    <a class="item" href="/signout">登出</a>
                </div>
            </div>
        {{else}}
            <div class="item">
                <a class="ui primary button" href="/login">登录</a>
            </div>
        {{end}}
    </div>
</div>
