    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>DashBoard</title>
        <link href="https://cdn.bootcss.com/semantic-ui/2.2.13/semantic.css" rel="stylesheet">
        <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.js"></script>
        <script src="https://cdn.bootcss.com/semantic-ui/2.2.13/semantic.js"></script>
    </head>
    <body>

    <div>
    {{template "/components/nav.html" .}}
    <div class="container" style="padding-top: 45px;min-height: 1024px">
