{{template "/layout.html" .}}
<div style="min-height: 2048px ; background-color: #EEEEEE">
    <div class="container" style="padding-top: 200px">
        <div class="ui grid container stackable">
            <div class="sixteen wide column">
                <h1>订单</h1>
            </div>
            <div class="sixteen wide column">
                <div class="ui segment">
                    <h4 class="ui header">订单号:{{.Order.Id}}</h4>
                    <div class="ui  items">
                        {{range .Order.Goods}}
                            <div class="item">
                                <div class="ui small image">
                                    <img src="/{{.Good.Game.Band.Path}}">
                                </div>
                                <div class="content">
                                    <div class="header">{{.Good.Game.Name}}</div>
                                    <div class="meta">
                                        <span>{{.Name}}</span>
                                        <div class="price" style="margin-top: 8px">￥{{.Price}}</div>
                                    </div>
                                </div>
                            </div>
                        {{end}}
                    </div>
                    <div class="ui divider"></div>
                    <div style="text-align: right">
                        <div class="ui tiny statistic">
                            <div class="value">
                                ￥{{.TotalPrice}}
                            </div>
                            <div class="label">
                                应支付
                            </div>
                        </div>
                        <div>
                            <button class="ui green button">支付</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
<link href="https://cdn.bootcss.com/Glide.js/3.2.3/css/glide.core.css" rel="stylesheet">
<script src="https://cdn.bootcss.com/Glide.js/3.2.3/glide.js"></script>
<script>
    $('.ui.dropdown')
        .dropdown()
    ;
</script>
</div>
{{template "/layout_foot.html" .}}