{{template "/layout.html" .}}
<div style="min-height: 2048px ; background-color: #EEEEEE">
    <div class="container" style="padding-top: 150px">
        <div class="ui grid container stackable">
            <h1 class="ui header container">结果</h1>
            <div style="margin-top: 15px" class=" sixteen wide column">
                <div class="ui divided items segment">
                    {{range .results}}
                        <div class="item">
                            <div class="image">
                                <img src="/{{.Band.Path}}">
                            </div>
                            <div class="content">
                                <a class="header" href="/game/{{.Id}}">{{.Name}}</a>
                                <div class="meta">
                                    <span>{{.Intro}}</span>
                                </div>
                                <div class="description">
                                    <p></p>
                                </div>
                                <div class="extra">
                                    <div class="ui right floated primary button">
                                        Buy tickets
                                        <i class="right chevron icon"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {{end}}

                </div>
                {{/*<div class="ui pagination menu">*/}}
                    {{/*<a class="item">*/}}
                        {{/*<*/}}
                    {{/*</a>*/}}
                    {{/*<a class="active item">*/}}
                        {{/*1*/}}
                    {{/*</a>*/}}
                    {{/*<div class="disabled item">*/}}
                        {{/*...*/}}
                    {{/*</div>*/}}
                    {{/*<a class="item">*/}}
                        {{/*10*/}}
                    {{/*</a>*/}}
                    {{/*<a class="item">*/}}
                        {{/*11*/}}
                    {{/*</a>*/}}
                    {{/*<a class="item">*/}}
                        {{/*12*/}}
                    {{/*</a>*/}}
                    {{/*<a class="item">*/}}
                        {{/*>*/}}
                    {{/*</a>*/}}
                {{/*</div>*/}}
            </div>


        </div>
    </div>
    <link href="https://cdn.bootcss.com/Glide.js/3.2.3/css/glide.core.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/Glide.js/3.2.3/glide.js"></script>
    <script>
        new Glide('.glide').mount()
    </script>
</div>
{{template "/layout_foot.html" .}}