{{template "/layout.html" .}}
<div style="min-height: 2048px ; background-color: #EEEEEE">
    <div class="container" style="padding-top: 200px">
        <div class="ui grid container stackable">
            <div class="sixteen wide column">
                <h1>购物车</h1>
            </div>
            <div class="ten wide column">
                <div class="ui segment">
                    <div class="ui divided items">
                        {{range .CartList}}
                            <div class="item">
                                <div class="ui small image">
                                    <img src="/{{.Good.Game.Band.Path}}">
                                </div>
                                <div class="content">
                                    <div class="header">{{.Good.Game.Name}}
                                        <div class="ui small icon top left pointing dropdown">
                                            <i class="caret down icon"></i>
                                            <form class="menu" action="/cart/{{.Id}}/delete" method="post">
                                                <button type="submit" class="item">删除</button>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="meta">
                                        <span>{{.Good.Name}}</span>
                                        <div class="price" style="margin-top: 8px">￥{{.Good.Price}}</div>
                                    </div>
                                </div>
                            </div>
                        {{end}}
                    </div>
                </div>
            </div>
            <div class="four wide column">
                <div class="ui segment" style="text-align: center">
                    <div class="ui statistic">
                        <div class="value">
                            ￥{{.TotalPrice}}
                        </div>
                        <div class="label">
                            总计
                        </div>
                    </div>
                    <div>
                        <form action="/order" method="post">
                            <button class="fluid positive ui button">付款</button>
                        </form>
                        <form action="/cart/delete" method="post">
                            <button class="fluid negative ui button" type="submit" style="margin-top: 8px">清空</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
<link href="https://cdn.bootcss.com/Glide.js/3.2.3/css/glide.core.css" rel="stylesheet">
<script src="https://cdn.bootcss.com/Glide.js/3.2.3/glide.js"></script>
<script>
    $('.ui.dropdown')
        .dropdown()
    ;
</script>
</div>
{{template "/layout_foot.html" .}}